
@font-face {
  font-family: 'general';
  src: url('./assets/stylesheets/recursos/general.otf') format('truetype');

}

body *{
	font-family: 'general';
}

.logo{
	font-family: 'Corinthia', cursive !important;
	font-size: 80px;
}

.marginCorrector{
	margin-top: -15px;
}


.s1 {
	margin-top: 20px;
	min-height: 60vh;
	min-width: 80vw;
	background-image: url("https://i.ibb.co/qLGyVbk/872716.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	background-position: center center;
	transition: .8s;
}

.s2 {
	margin-top: 20px;
	min-height: 60vh;
	min-width: 80vw;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	background-position: center center;
	transition: .8s;
	background-image: url("");
}